[submodule "flexbe_behavior_engine"]
	path = flexbe_behavior_engine
	url = https://github.com/team-vigir/flexbe_behavior_engine.git
[submodule "flexbe_app"]
	path = flexbe_app
	url = https://github.com/FlexBE/flexbe_app.git
[submodule "generic_flexbe_states"]
	path = generic_flexbe_states
	url = https://github.com/FlexBE/generic_flexbe_states.git
[submodule "calibration/easy_handeye"]
	url = https://github.com/IFL-CAMP/easy_handeye.git
[submodule "calibration/flexiv_ros"]
	url = https://github.com/linhongbin-ws/flexiv_ros
[submodule "calibration/aruco_ros"]
	url = https://github.com/pal-robotics/aruco_ros.git
