<launch>
    <arg name="namespace_prefix" default="ur5_kinect_handeyecalibration" />
    <arg name="eye_on_hand" default="false" />

    <arg name="camera_namespace" default="/camera/color" />
    <!-- <arg name="robot_ip" doc="The IP address of the UR5 robot" default="101.101.101.12" /> -->

    <arg name="marker_size" doc="Size of the ArUco marker used, in meters" default="0.016" />
    <arg name="square_size" doc="The ID of the ArUco marker used" default="0.024" />
    <arg name="square_number_x" default="7" />
    <arg name="square_number_y" default="9" />



    <!-- start ArUco -->
    <node name="easy_aruco_node" pkg="easy_aruco" type="easy_aruco_node">
        <param name="object_type" value="charuco_board" />

        <param name="camera_namespace" value="$(arg camera_namespace)" />
        <param name="dictionary" value="DICT_6X6_250" />

        <param name="camera_frame" value="camera_color_optical_frame" />
        <param name="reference_frame" value="camera_color_optical_frame" />

        <param name="marker_size" value="$(arg marker_size)" />
        <param name="square_size" value="$(arg square_size)" />
        <param name="square_number_x" value="$(arg square_number_x)" />
        <param name="square_number_y" value="$(arg square_number_y)" />
    </node>

   

</launch>