<launch>
    <arg name="namespace_prefix" default="ur5_kinect_handeyecalibration" />
    <arg name="eye_on_hand" default="false" />

    <arg name="camera_namespace" default="/camera/color" />
    <!-- <arg name="robot_ip" doc="The IP address of the UR5 robot" default="101.101.101.12" /> -->

    <arg name="marker_size" doc="Size of the ArUco marker used, in meters" default="0.016" />
    <arg name="square_size" doc="The ID of the ArUco marker used" default="0.024" />
    <arg name="square_number_x" default="7" />
    <arg name="square_number_y" default="9" />

    <!-- start the realsense -->
    <include file="$(find realsense2_camera)/launch/rs_rgbd.launch" >
        <arg name="color_height" value="1080" />
        <arg name="color_width" value="1920" />
        <arg name="color_fps" value="30" />
    </include>

</launch>